body {
  max-width: 90%;
  margin: auto;
  font-size: 160%;
  background: radial-gradient(rgb(177, 159, 30), rgb(14, 106, 96));
  background-image: url(/img/back2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}

header>h1{

  background-color: yellow;
}

p {
  font-family: serif;
  letter-spacing: 1px;
  font-size: 20px;
  color: #08084c;
}

blockquote  {
  margin: auto;
  background-color: #a6a6a6;
  border-left: 3px solid firebrick;
  padding-left: 30px;
  margin-top: 80px;
  margin-bottom: 80px;
  font-style: italic;
}

q{
  font-style: italic;
  background-color: #a6a6a6;
    border-left: 3px solid firebrick;
  padding-left: 30px;
  margin-top: 80px;
  margin-bottom: 80px;
}

ul {
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
}

li a {
  text-decoration: none;
}

a:visited {
  color: black;
}
a:hover {
  color: rebeccapurple;
}

.village{
  border-left: 3px solid blue;

}

.fermier{
  border-left: 3px solid rgb(226, 24, 182);

}

.good {

  text-transform: capitalize;
}

.bad{
  text-transform: capitalize;
}